.center-0-0-1 {
  text-align: center;
}
.darklight-0-0-2 {
  overflow: hidden;
  position: relative;
}
body.dark-mode-animate .darklight-0-0-2>.light, .darklight-0-0-2>.dark {
  transition: opacity .3s, z-index .3s;
}
.darklight-0-0-2>.dark {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  position: absolute;
}
body.dark .darklight-0-0-2>.dark {
  opacity: 1;
  z-index: 1;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .darklight-0-0-2>.dark {
    opacity: 1;
    z-index: 1;
  }
}
  body.dark .darklight-0-0-2>.light {
    opacity: 0;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .darklight-0-0-2>.light {
    opacity: 0;
  }
}
  .collapse-0-0-3>.label {
    cursor: pointer;
    margin: 8px 0;
    display: flex;
    align-items: center;
    user-select: none;
  }
  .collapse-0-0-3>.content {
    opacity: 0;
    max-height: 0;
    transition: opacity .3s;
    visibility: hidden;
    border-left: 2px solid rgba(17, 17, 17, 0.5);
    padding-left: 16px;
  }
  .collapse-0-0-3.open>.content {
    opacity: 1;
    max-height: none;
    visibility: visible;
  }
  .collapse-0-0-3.open>.label .icon-font {
    transform: rotate(90deg);
  }
  body.dark-mode-animate .collapse-0-0-3>.content {
    transition: transform .15s, opacity .15s, border-color .3s;
  }
  body.dark .collapse-0-0-3>.content {
    border-color: rgba(255, 255, 255, 0.5);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .collapse-0-0-3>.content {
    border-color: rgba(255, 255, 255, 0.5);
  }
}
  .collapse-0-0-3>.label .text {
    flex-grow: 1;
  }
  .collapse-0-0-3>.label .icon-font {
    margin-right: 32px;
  }
  .collapse-0-0-3>.label:hover {
    color: #111111;
    transition: color .15s;
  }
  body.dark .collapse-0-0-3>.label:hover {
    color: #eee;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .collapse-0-0-3>.label:hover {
    color: #eee;
  }
}
  body.dark-mode-animate .collapse-0-0-3>.label .icon-font {
    transition: transform .15s;
  }
  .header-0-0-4 {
    top: 0;
    right: 0;
    padding: 32px;
    z-index: 100;
    position: fixed;
    text-align: right;
  }
  .footer-0-0-5 {
    left: 0;
    right: 0;
    bottom: 0;
    height: 64px;
    display: flex;
    z-index: 102;
    position: fixed;
    background: rgba(255, 255, 0, 0.85);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .03);
    align-items: center;
    backdrop-filter: blur(12px);
    justify-content: center;
    -webkit-backdrop-filter: blur(12px);
  }
  body.dark-mode-animate .footer-0-0-5 {
    transition: background .3s;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .footer-0-0-5 {
    background: rgba(0, 0, 0, 0.85);
  }
}
  body.dark .footer-0-0-5 {
    background: rgba(0, 0, 0, 0.85);
  }
  .footer-0-0-5 .main {
    overflow: hidden;
    flex-grow: 1;
    text-align: center;
  }
  .footer-0-0-5 .left {
    padding-left: 32px;
  }
  .footer-0-0-5 .right {
    padding-right: 32px;
  }
@media screen and (max-width: 800px) {
  .footer-0-0-5 .left {
    padding-left: 16px;
  }
  .footer-0-0-5 .right {
    padding-right: 16px;
  }
}
  .footer-0-0-5 .main>.inside {
    display: inline-flex;
    overflow: auto;
    max-width: 100%;
    align-items: center;
  }
  .footer-0-0-5 .main>.inside hr {
    width: 2px;
    border: none;
    height: 16px;
    margin: 16px;
    background: rgba(17,17,17,0.2);
  }
  .footer-0-0-5 .main>.inside a {
    text-decoration: none;
  }
  .footer-0-0-5 .main>.inside a:hover {
    text-decoration: underline ;
  }
  body.dark-mode-animate .footer-0-0-5 .main>.inside hr {
    transition: background .3s;
  }
  body.dark .footer-0-0-5 .main>.inside hr {
    background: rgba(255,255,255,0.2);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .footer-0-0-5 .main>.inside hr {
    background: rgba(255,255,255,0.2);
  }
}
  .toc-0-0-6 {
    top: 0;
    left: 0;
    width: calc(50vw - 464px);
    bottom: 0;
    display: flex;
    z-index: 101;
    position: fixed;
    transform: translateX(-50vw);
    background: #ff0;
    border-right: 1px solid rgba(17,17,17,0.2);
    flex-direction: column;
    padding-bottom: 64px;
  }
  body.dark-mode-animate .toc-0-0-6 {
    transition: background .3s, border-color .3s;
  }
  body.dark .toc-0-0-6 {
    background: #000000;
    border-color: rgba(255,255,255,0.2);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-6 {
    background: #000000;
    border-color: rgba(255,255,255,0.2);
  }
}
@media screen and (max-width: 1200px) {
  .toc-0-0-6 {
    width: 100vw;
    transform: translateX(-110vw);
  }
}
  .toc-0-0-6.animated {
    transition: transform .3s;
  }
  .toc-0-0-6.active {
    transform: translateX(0);
  }
  .toc-0-0-6 p {
    margin: 0;
  }
  .toc-0-0-6 a {
    border: 1px solid transparent;
    display: block;
    padding: 8px;
    margin-left: -8px;
    border-right: none;
    margin-right: 1px;
    border-radius: 3px;
    text-decoration: none;
  }
  body.dark-mode-animate .toc-0-0-6 a {
    transition: border-color .3s, background .3s;
  }
  .toc-0-0-6 a:hover {
    background: #ff0;
    text-decoration: none;
  }
  .toc-0-0-6 a.current {
    background: #ff0;
    border-color: rgba(17,17,17,0.2);
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  body.dark .toc-0-0-6 a.current {
    background: hsl(0, 0%, 0%);
    border-color: rgba(255,255,255,0.2);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-6 a.current {
    background: #000000;
    border-color: rgba(255,255,255,0.2);
  }
}
@media screen and (max-width: 1200px) {
  .toc-0-0-6 a.current {
    border-right: 1px solid;
    margin-right: -8px;
    border-radius: 3px;
  }
}
  body.dark .toc-0-0-6 a:hover {
    background: hsl(0, 0%, 0%);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-6 a:hover {
    background: hsl(0, 0%, 0%);
  }
}
  body.dark-mode-animate .toc-0-0-6.animated {
    transition: transform .3s, background .3s, border-color .3s;
  }
  .content-0-0-7 {
    padding: 32px;
    overflow: auto;
    flex-grow: 1;
    margin-right: -1px;
    padding-right: 0;
  }
@media screen and (max-width: 1200px) {
  .content-0-0-7 {
    margin-right: 0;
    padding-right: 32px;
  }
}
  .contentnav-0-0-9 {
    right: 0;
    width: calc(50vw - 496px);
    bottom: 96px;
    overflow: auto;
    position: fixed;
    font-size: 12px;
    max-height: 45vh;
    border-left: 1px dashed rgba(17,17,17,0.2);
    margin-left: 64px;
    padding-left: 48px;
    scroll-behavior: initial;
  }
@media screen and (max-width: 1200px) {
  .contentnav-0-0-9 {
    display: none;
  }
}
  .contentnav-0-0-9 a {
    color: #111111;
    display: block;
    opacity: 0.2;
    text-decoration: none;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .contentnav-0-0-9 {
    border-color: rgba(255,255,255,0.2);
  }
  body:not(.dark-mode-animate) .contentnav-0-0-9 a {
    color: #eee;
  }
  body:not(.dark-mode-animate) .contentnav-0-0-9 a:hover, body:not(.dark-mode-animate) .contentnav-0-0-9 a.active {
    color: #eee;
  }
}
  body.dark .contentnav-0-0-9 {
    border-color: rgba(255,255,255,0.2);
  }
  body.dark .contentnav-0-0-9 a {
    color: #eee;
  }
  body.dark .contentnav-0-0-9 a:hover, body.dark .contentnav-0-0-9 a.active {
    color: #eee;
  }
  body.dark-mode-animate .contentnav-0-0-9 a {
    transition: color .3s, opacity .3s;
  }
  .contentnav-0-0-9 a:hover, .contentnav-0-0-9 a.active {
    color: #111111;
    opacity: 1;
  }
  .contentnav-0-0-9 a.h2 {
    margin-left: 12px;
  }
  .contentnav-0-0-9 a.h3 {
    margin-left: 24px;
  }
  .contentnav-0-0-9 a.h4 {
    margin-left: 36px;
  }
  .contentnav-0-0-9 a.h5 {
    margin-left: 48px;
  }
  .contentnav-0-0-9 a.h6 {
    margin-left: 60px;
  }
* {
  touch-action: manipulation;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body {
  color: #111111;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #ff0;
  overflow-x: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
body.dark-mode-animate {
  transition: color .3s, background .3s;
}
a {
  color: #111111;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
body.dark-mode-animate a {
  transition: color .3s;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) a {
    color: #eee;
  }
}
body.dark a {
  color: #eee;
}
.container {
  margin: 0 auto;
  padding: 96px 16px;
  max-width: 768px;
  transition: opacity .15s;
}
table {
  margin: 0 auto;
  overflow: auto;
  max-width: 100%;
  min-width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
}
table th, table td {
  padding: 8px 16px;
  text-align: left;
}
table th {
  border-bottom: 1px solid #111111;
}
table td {
  border-bottom: 1px solid rgba(17,17,17,0.2);
}
table tr:nth-child(even) {
  background: #ff0;
  border-radius: 3px;
}
table tr:last-child > td {
  border-bottom: none;
}
body.dark table tr:nth-child(even) {
  background: #000;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) table tr:nth-child(even) {
    background: #000;
  }
}
body.dark-mode-animate table tr:nth-child(even) {
  transition: background .3s;
}
body.dark table td {
  border-color: rgba(255,255,255,0.2);
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) table td {
    border-color: rgba(255,255,255,0.2);
  }
}
body.dark table th {
  border-color: #F5F5F5;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) table th {
    border-color: #F5F5F5;
  }
}
body.dark-mode-animate table th, body.dark-mode-animate table td {
  transition: border-color .3s;
}
hr {
  border: none;
  margin: 64px;
  background: none;
  border-top: 1px solid rgba(17,17,17,0.2);
}
body.dark-mode-animate hr {
  transition: border-color .3s;
}
body.dark hr {
  border-color: rgba(255,255,255,0.2);
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) hr {
    border-color: rgba(255,255,255,0.2);
  }
}
#-codedoc-toc hr {
  margin: 16px 0;
  margin-right: 32px;
}
blockquote {
  color: #111;
  margin: 0;
  padding: 16px 40px;
  position: relative;
  background: #ff0;
  border-radius: 3px;
}
body.dark-mode-animate blockquote {
  transition: color .3s, background .3s;
}
blockquote:after {
  top: 16px;
  left: 16px;
  width: 8px;
  bottom: 16px;
  content: '';
  display: block;
  position: absolute;
  background: radial-gradient(circle at center, rgba(17,17,17,0.2) 50%, transparent 52%),transparent;
  background-size: 4px 4px;
}
body.dark-mode-animate blockquote:after {
  transition: color .3s, background .3s;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) {
    color: #eee;
    background: #000000;
  }
  body:not(.dark-mode-animate) blockquote {
    color: #eee;
    background: #000;
  }
  body:not(.dark-mode-animate) blockquote:after {
    background: radial-gradient(circle at center, rgba(255,255,255,0.2) 50%, transparent 52%),transparent;
    background-size: 4px 4px;
  }
}
body.dark {
  color: #eee;
  background: #000000;
}
body.dark blockquote {
  color: #eee;
  background: #000;
}
body.dark blockquote:after {
  background: radial-gradient(circle at center, rgba(255,255,255,0.2) 50%, transparent 52%),transparent;
  background-size: 4px 4px;
}
img {
  max-width: 100%;
}
iframe {
  width: 100%;
  border: none;
  background: white;
  border-radius: 3px;
}
code {
  color: #111111;
  padding: 4px;
  font-size: .85em;
  background: #ff0;
  border-radius: 3px;
}
body.dark-mode-animate code {
  transition: color .3s, background .3s;
}
body.dark code {
  color: #eee;
  background: #000;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) code {
    color: #eee;
    background: #000;
  }
}
  .heading-0-0-10 {
    cursor: pointer;
    position: relative;
  }
  .anchor-0-0-11 {
    top: 0;
    left: -32px;
    bottom: 0;
    display: flex;
    opacity: 0;
    position: absolute;
    transform: translateX(-8px);
    transition: opacity .1s, transform .1s;
    align-items: center;
    padding-right: 8px;
  }
  .heading-0-0-10:hover .anchor-0-0-11 {
    opacity: 0.5;
    transform: none;
  }
@media screen and (max-width: 1200px) {
  .anchor-0-0-11 {
    display: none;
  }
}
  .heading-0-0-10:hover .anchor-0-0-11:hover {
    opacity: 1;
  }
  .quote-0-0-12 {
    padding: 0 56px;
    font-size: 20px;
  }
  .text-0-0-13 {
    padding: 1px 0;
    position: relative;
  }
  .text-0-0-13 .begin, .text-0-0-13 .end {
    opacity: 0.25;
    position: absolute;
    font-size: 48px;
  }
  .text-0-0-13 .begin.begin, .text-0-0-13 .end.begin {
    top: 8px;
    left: -56px;
    transform: rotate(180deg);
  }
  .text-0-0-13 .begin.end, .text-0-0-13 .end.end {
    right: -56px;
    bottom: 8px;
  }
  .source-0-0-14 {
    font-style: italic;
    text-align: right;
  }
  .footnotes-0-0-15>div {
    display: flex;
  }
  .footnotes-0-0-15>div>span {
    font-weight: bold;
    margin-right: 16px;
  }
  .footnotes-0-0-15>div>marker>p {
    margin: 0;
  }
  .utterancesTransparentIframe-0-0-16 iframe.utterances-frame {
    background: transparent;
  }
  .button-0-0-17 {
    color: #ff0;
    border: 2px solid #111111;
    cursor: pointer;
    height: 40px;
    margin: 8px;
    display: inline-flex;
    outline: none;
    padding: 4px 16px;
    font-size: 16px;
    min-width: 96px;
    background: #111111;
    align-items: center;
    margin-right: 0;
    border-radius: 3px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
  }
  body.dark-mode-animate .button-0-0-17 {
    transition: background .15s, color .15s, border-color .15s;
  }
  .button-0-0-17.icon {
    width: 40px;
    padding: 0;
    font-size: 24px;
    min-width: 0;
  }
  .button-0-0-17[disabled] {
    color: #ff0;
    border: rgba(17, 17, 17, 0.35);
    background: rgba(17, 17, 17, 0.35);
  }
  body.dark .button-0-0-17 {
    color: #000000;
    background: #eee;
    border-color: #eee;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .button-0-0-17 {
    color: #000000;
    background: #eee;
    border-color: #eee;
  }
  body:not(.dark-mode-animate) .button-0-0-17[disabled] {
    color: #000000;
    border: rgba(238, 238, 238, 0.35);
    background: rgba(238, 238, 238, 0.35);
  }
}
  .button-0-0-17:hover:not([disabled]) {
    color: #111111;
    background: transparent;
    text-decoration: none;
  }
  body.dark .button-0-0-17:hover:not([disabled]) {
    color: #eee;
    background: transparent;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .button-0-0-17:hover:not([disabled]) {
    color: #eee;
    background: transparent;
  }
}
  body.dark .button-0-0-17[disabled] {
    color: #000000;
    border: rgba(238, 238, 238, 0.35);
    background: rgba(238, 238, 238, 0.35);
  }
a.button-0-0-17 {
  height: 28px;
}
a.button-0-0-17.icon {
  width: 36px;
  height: 36px;
}